.container{
    border: 5px solid black;
}
.row{
    border: 3px solid red;
    height:133px

}
.col{
    border: 3px solid red;
    height:100px;
}   
.div1{
background-color: pink;
}
.div2{
    background-color: blue;
    }
.div3{
 background-color: greenyellow;
        }
.div4{
background-color: brown;
            }
